body{
    background-color: rgb(50, 50, 47);
}

#toDoForm .toDoItemGroup{
    flex-grow: 1;
}

#toDoItem{
    width: 100%;
}

.toDoList{
    display: flex;
    justify-content: space-between;
    padding: 0.50rem 1.25rem;
    align-items: center;
}

.toDoListItem {
    font-weight: 400;
    font-size: 27px;
}
.editListItem{
    color: rgb(96, 155, 8);
    margin-right: 14px;
    cursor: pointer;
}

.deleteListItem{
    color: red;
    cursor: pointer;
}

